*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
aclocal.m4
autom4te.cache
build-stamp
config
config.log
config.guess
config.status
config.sub
configure
debian/files
debian/vyatta-cfg-vpn
debian/vyatta-cfg-vpn.postinst
debian/*.debhelper.log
debian/*.substvars
INSTALL
Makefile.in
Makefile
src/cfgvti

