Source: vyatta-cfg-vpn
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-vpn
Architecture: any
Depends: perl,
 vyatta-cfg (>= 0.15.33),
 vyatta-bash | bash (>= 3.1),
 vyatta-ipsec,
 libc6 (>= 2.7-6)
Description: Vyatta VPN configuration templates/scripts
 Vyatta VPN configuration templates and scripts.
