Source: vyatta-cfg-vpn
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, libnfnetlink-dev, autoconf, automake, cpio
Standards-Version: 3.9.1

Package: vyatta-cfg-vpn
Architecture: all
Depends: perl,
 vyatta-cfg (>= 0.15.33),
 vyatta-bash | bash (>= 3.1),
 strongswan (>= 5.6),
 strongswan-swanctl (>= 5.6),
 libstrongswan-extra-plugins (>=5.6),
 libcharon-extra-plugins (>=5.6),
 libcrypt-openssl-rsa-perl,
 libc6 (>= 2.7-6),
 python3-vici
Description: VyOS IPsec VPN configuration templates/scripts
 VyOS IPsec VPN configuration templates and scripts.
