Source: vyatta-cfg-vpn
Section: contrib/net
Priority: extra
Maintainer: Stig Thormodsrud <stig@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-vpn
Architecture: all
Depends: perl,
 vyatta-cfg,
 vyatta-bash | bash (>= 3.1),
 openswan
Description: Vyatta VPN configuration templates/scripts
 Vyatta VPN configuration templates and scripts.
